<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>Finance Data Geek</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8">

  <link rel="icon" href="static/images/favicon.png" />
  <link rel="alternate" type="application/rss+xml" title="Finance Data Geek RSS" href="/feed.xml" />

  <link rel="stylesheet" href="/static/css/normalize.min.css" />
  <link rel="stylesheet" href="/static/css/skeleton.min.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500" />

</head>

<body>

  <main>

  <!-- .container is main centered wrapper -->
  <div class="container">

  <header>
    <a href="/index.html">
      <img src="/static/images/logo.svg" />
    </a>
    <h1>Finance Data Geek</h1>
    <nav>
      <ul>
        <li><a href="/index.html">Posts</a></li>
        <li><a href="https://www.github.com/financedatageek/">Github</a></li>
        <li><a href="/pages/about.html">About</a></li>
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock content %}

  </div><!-- /.container -->

  </main>

  <footer>
    <p>&copy; 2017 Finance Data Geek. All rights reserved.</p>
    <p>Proudly created by Scott Newman. Feel free to <a href="/pages/about.html#contact">Contact Me</a>.</p>
  </footer>

</body>
</html>